* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 400px;
    height: auto;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.header {
    width: 50%;
    height: 100px;
}

.logo {
    height: 100%;
    width: auto;
}


#upload-box {
    display: flex;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 28px 20px;
    text-align: center;
    cursor: pointer;
    height: 75px;
    width: 35%;
}

#upload-box p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#upload-box input {
    display: none;
}

.content {
    position: absolute;
    height: 0px;
    top: 100px;
    width: 100%;
    overflow: hidden;
}

.content.active {
    height: 320px;
}

.smiley {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: yellow;
}
.eye1{
    top: 35px;
    left: 35px;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.eye2{
    top: 35px;
    right: 35px;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.mouth {
    height: 45px;
    width: 45px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.mouthholder {
    top: 60px;
    left: 48.75px;
    height: 45px;
    width: 22.5px;
    position: absolute;
    overflow: hidden;
    rotate: 90deg;
    transform: rotateY(90deg);
}
.djkhaled {
    position: absolute;
    width: 45px;
    height: 3px;
    top: 82.5px;
    background: black;
    left: 37.5px;
}
#p1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: medium;
    left: 150px;
}
