* {
    box-sizing: border-box;
    transition: max-height 1s ease;
}

html {
    max-height: 100px;
}

html.active {
    max-height: 200px;
}

body {
    margin: 0;
    padding: 0;
    width: 400px;
    max-height: 100px;
    align-items: center;
    overflow: hidden;
}

html.active body {
    max-height: 200px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.header {
    width: 50%;
    height: 100%;
}

.logo {
    height: 100%;
    width: auto;
}


#upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 28px 20px;
    text-align: center;
    cursor: pointer;
    height: 75%;
    width: 35%;
}

.download {
    width: 33%;
}

#upload-box p {
    padding: 3px 0 0;
    font-size: 12px;
    white-space: nowrap;
}


#upload-box input {
    display: none;
}

.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 0px;
    padding: 0 25px;
    overflow: hidden;
    background: #f2f2f2;
}

html.active .content {
    max-height: 100px;
}

.text {
    width: 66%;
    text-align: center;
}

#p1 {
    font-size: medium;
}

.smiley {
    margin: 22px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: yellow;
    transform: scale(0.6);
}
.eye1{
    top: 35px;
    left: 35px;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.eye2{
    top: 35px;
    right: 35px;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.mouth {
    height: 45px;
    width: 45px;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.mouthholder {
    top: 60px;
    left: 48.75px;
    height: 45px;
    width: 22.5px;
    position: absolute;
    overflow: hidden;
    rotate: 90deg;
    transform: rotateY(90deg);
}
.djkhaled {
    position: absolute;
    width: 45px;
    height: 3px;
    top: 82.5px;
    background: black;
    left: 37.5px;
}

