body {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 400px;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100px;
    padding: 0 5%;
}
.logo {
    width: 90%;
    padding: 0 5%;
}

#upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#upload-box input {
    display: none;
}
